.DS_Store
.obj
*.moc
Makefile*
*.dylib
*.so.*
*.so
*.so.debug
*.o
*~
moc_*.cpp
qrc_*.cpp
ui_*.h
*.Debug
*.Release
include/*
config.pri
config.in
config.log
.qmake.cache

doc/src/html/

#tests
tst_messageserver
tst_longstring
tst_python_email
tst_qmailaddress
tst_qmailcodec
tst_qmailmessage
tst_qmailmessagebody
tst_qmailmessageheader
tst_qmailmessagepart
tst_qmailstore
tst_qmailstorekeys
tst_qprivateimplementation

#Symbian specific
*.mmp
*.pkg
bld.inf*
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx
.make.cache
qmakepluginstubs

#Carbide project files
*.project
*.cproject
*.settings
plugin_commonU.def

#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user

#QtCreator project files
*.pro.user

#vim tag files
tags
