[Translation]
File=QtopiaSettings
Context=Profiles
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=messagingaccounts
Icon=messagingaccounts/messagingaccounts
Name[]=Messaging Accounts
CanFastload=0
Comment[]=Messaging accounts application
